.calculator{
  padding: 10px;
  box-sizing:border-box;
  margin: 10px;
  height:auto;
  width:24%;
  background-color: grey;
  border-radius: 10px;
}
.displayText{
  padding: 5px;
  box-sizing:border-box;
  margin:3px;
  }
#display{
  border: .2px solid black;
  box-shadow: 2px 2px;

}
.firstRow{
  padding: 5px;
  box-sizing:border-box;
  margin:3px;
}
.firstRowButton{
  box-shadow: 3px 3px;
  background-color: darkorange;
  border: 2px solid darkorange;
  font-color: white;
  margin: 2px;
}
.secondRow{
  padding: 5px;
  box-sizing:border-box;
  margin:3px;

}
.secondRowButton{
  box-shadow: 3px 3px;
  background-color: darkorange;
  border: 2px solid darkorange;
  margin: 2px;
}
.thirdRow{
  padding: 5px;
  box-sizing:border-box;
  margin:3px;

}
.thirdRowButton{
  box-shadow: 3px 3px;
  background-color: darkorange;
  border: 2px solid darkorange;
  margin: 2px;
}
.fourthRow{
  padding: 5px;
  box-sizing:border-box;
  margin:3px;

}
.forthRowButton{
  box-shadow: 3px 3px;
  background-color: darkorange;
  border: 2px solid darkorange;
  margin: 2px;
}
.lastRow{
  padding: 5px;
  box-sizing:border-box;
  margin:3px;
}
.fiveRowButton{
  box-shadow: 3px 3px;
  background-color: darkorange;
  border: 2px solid darkorange;
  margin: 2px;
}
#clearButton{
  box-shadow: 3px 3px;
  background-color: red;
  border: 2px solid red;
}
#calculateButton{
  box-shadow: 3px 3px;
  background-color: green;
  border: 2px solid green;

}
#operator{
  box-shadow: 3px 3px;
  background-color: #006699;
  border: 2px solid #006699;
}
i{
  color: white;
  font-weight: bolder;
}
